doctype html
html
	head
		link(href='css/bootstrap.min.css', rel='stylesheet')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
		script(src='/socket.io/socket.io.js')
	body
		.jumbotron
					.container
						h1
							|8 Pebbles
				.container
					canvas#myCanvas(width='800', height='800')
					form(action='')
						input#m(autocomplete='off')
						button Send
	script(src='js/index.js')

