doctype html
html
	head
		link(href='css/bootstrap.min.css', rel='stylesheet')
		link(href='css/index.css', rel='stylesheet')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
		script(src='/socket.io/socket.io.js')


	body
		.wrapper
			.sidebar
				.right
					.div
							p 8 Pebbles + 
							p 1 Myo +
							p 9 Phones =
							p 6,000 Dollars for 
							p 1 Chair
							br
							a(href="/why") ...why?
			.content
					canvas#myCanvas(width='400', height='800')

			div(style='clear:both')

	script(src='js/index.js')

