.wrapper
{
		min-height:100%;
		width:100%;
		position:relative;
		display:inline-block;
}

.sidebar
 {
	 font-size: 5rem;
   color: gray;
	 background-color: black;
	 width:40%;
	 top:0px;
	 left:0px;
	 bottom:0px;
	 position:absolute;
	 background-color:black;
 }
 .content
 {
		 min-height: 1000px;
		 padding: 30px;
		 width:60%;
		 position:relative;
		 float:right;
 }


.right {
    right: 0px;
		padding: 50px;
}

.center {
		padding: 50px;
}
